body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: aliceblue;
}

p {
    text-align: center;
    color: aliceblue;
    font-size: 250%;
}

h2 {
    text-align: center;
    color: aliceblue;
}

#il {
    width: 20%;
    margin-left: 40%;
    height: 150%;
}

#ul {
    width: 550px;
    height: 550px;
    width: 20%;
    margin-left: 40%;
}

